name: rust-audit

on:
  pull_request:
    branches: ["*"]
    paths: ["**/Cargo.toml", "**/Cargo.lock"]
  push:
    branches: ["*"]
    tags-ignore: ["v*"]
    paths: ["**/Cargo.toml", "**/Cargo.lock"]
  schedule:
    - cron: "0 18 * * Fri"
  workflow_dispatch:

jobs:
  rust-audit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install cargo-audit
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-audit

      - name: Run cargo-audit
        uses: rustsec/audit-check@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
