name: rustfmt

on:
  pull_request:
    branches: ["*"]
    paths: ["**/*.rs", "rustfmt.toml"]
  push:
    branches: ["*"]
    tags-ignore: ["v*"]
    paths: ["**/*.rs", "rustfmt.toml"]
  workflow_dispatch:

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Rust
        uses: moonrepo/setup-rust@v1
        with:
          components: rustfmt

      - name: Run rustfmt
        uses: actions-rust-lang/rustfmt@v1
